*{
    margin: 0px;
    font-family:sans-serif;
}
body{
    background-color: #E9E9E9;
}
/* Nav Style  */
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.nav-logo{
    font-size: 40px;
}
.nav-ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.nav-ul a{
    text-decoration: none;
    color: black;
}
.nav-ul a:hover{
    color: red;
    text-decoration: underline;
}
.btn-prymary{
    background: #D8FB78;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px  solid grey;
}
/* Banner Style  */
.banner{
    display: flex;
    align-items: center;
    background-color:white;
    margin: 40px 150px;
    border-radius: 40px;
}
.banner-container{
    padding: 80px;
}
.banner-titel{
    font-size: 50px;
}
.banner-discription{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-img{
    height: 400px;
    padding: 40px;
}
.sale-section{
    text-align: center;
}
.sale-titel{
    font-size: 30px;
    margin-top: 50px;
}
.sale-discription{
    font-size: 15px;
    margin-top: 20px;
}
/* cart Style  */
.cart-section{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 50px;
    margin-top: 50px;
}
.cart-container{
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}
.cart-img{
    width: 250px;
    display: block;
    margin: auto;
    background-color: #E9E9E9;
    padding: 10% 10% 0% 10%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.cart-titel{
    margin-bottom: 5px;
}
.cart-discription{
    margin-bottom: 5px;
}
.cart-btn1{
    margin-top: 5px;
    font-size: 15px;
    padding: 5px 120px;
    display: block;
    margin: auto;
    border-radius: 25px;
    background: #D8FB78;
    border: 2px  solid grey;
}
.cart-btn2{
    font-size: 15px;
    padding: 5px 80px;
    border-radius: 25px;
    border: 2px  solid grey;
}
.cart-btn2-con{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    
}
.cart-logo-img{
    height: 30px;
}
/* Footer Section  */
footer{
    background-color: white;
    margin-top: 50px;
    height: 350px;
}
.footer-item1{
    text-align: center;
}
.footer-titel{
    font-size: 40px;
    padding-top: 50px;
}
.footer-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 15px;
    gap: 50px;
    padding: 0;
}
.footer-ul a{
    text-decoration: none;
    color: black;
}
.footer-logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    height: 30px;
}
hr{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.footer-input{
    margin-top: 20px;
    text-align: center;
}
.input-box{
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    border: 1px  solid grey;
}